@mixin border-radius($radius...) {
    -webkit-border-radius : $radius;
    -moz-border-radius    : $radius;
    -ms-border-radius     : $radius;
    border-radius         : $radius;
}

@mixin animation($animation...) {
    -webkit-animation : $animation;
    -o-animation      : $animation;
    animation         : $animation;
}

@mixin transition($transition...) {
    -webkit-transition : $transition;
    -moz-transition    : $transition;
    -ms-transition     : $transition;
    -o-transition      : $transition;
    transition         : $transition;
}

@mixin transform($transform...) {
    -webkit-transform : $transform;
    -moz-transform    : $transform;
    -ms-transform     : $transform;
    -o-transform      : $transform;
    transform         : $transform;
}

@mixin transition-duration($duration...) {
    -webkit-transition-duration : $duration;
    -moz-transition-duration    : $duration;
    -ms-transition-duration     : $duration;
    -o-transition-duration      : $duration;
    transition-duration         : $duration;
}

@mixin transition-property($property...) {
    -webkit-transition-property : $property;
    -moz-transition-property    : $property;
    -ms-transition-property     : $property;
    -o-transition-property      : $property;
    transition-property         : $property;
}

@mixin transition-timing-function($function...) {
    -webkit-transition-timing-function : $function;
    -moz-transition-timing-function    : $function;
    -ms-transition-timing-function     : $function;
    -o-transition-timing-function      : $function;
    transition-timing-function         : $function;
}

@mixin box-shadow($shadow...) {
    -webkit-box-shadow : $shadow;
    -moz-box-shadow    : $shadow;
    -ms-box-shadow     : $shadow;
    -o-box-shadow      : $shadow;
    box-shadow         : $shadow;
}

@mixin box-shadow-none() {
    -webkit-box-shadow : none;
    -moz-box-shadow    : none;
    -ms-box-shadow     : none;
    -o-box-shadow      : none;
    box-shadow         : none;
}

@mixin background-size($size...) {
    -webkit-background-size : $size;
    -moz-background-size    : $size;
    -o-background-size      : $size;
    background-size         : $size;
}

@mixin user-select($select...) {
    -webkit-user-select : $select;
    -moz-user-select    : $select;
    -ms-user-select     : $select;
    user-select         : $select;
}

@mixin keyframes($animationName) {
    @-khtml-keyframes #{$animationName} {
        @content;
    }
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin selection {
    ::-moz-selection {
        @content;
    }
    ::selection {
        @content;
    }
}

@mixin no-select {
    @include user-select(none);
    cursor                : default !important;
    -webkit-touch-callout : none !important;
}

@mixin flex-display() {
    display : -webkit-flex; /* NEW - Chrome */
    display : -moz-box; /* OLD - Firefox 19- (doesn't work very well) */
    display : -ms-flexbox; /* TWEENER - IE 10 */
    display : flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin flex-direction($direction...) {
    -webkit-flex-direction : $direction;
    -ms-flex-direction     : $direction;
    flex-direction         : $direction;
}

@mixin flex-grow($size...) {
    -moz-flex-grow : $size;
    -ms-flex-grow  : $size;
    flex-grow      : $size;
}

@mixin box-sizing($sizing...) {
    -webkit-box-sizing : $sizing;
    -moz-box-sizing    : $sizing;
    box-sizing         : $sizing;
}

@mixin background-size($size...) {
    -webkit-background-size : $size;
    -moz-background-size    : $size;
    -o-background-size      : $size;
    background-size         : $size;
}

@mixin text-underline-crop($background) {
    text-shadow : .03em 0 $background,
    -.03em 0 $background,
    0 .03em $background,
    0 -.03em $background,
    .06em 0 $background,
    -.06em 0 $background,
    .09em 0 $background,
    -.09em 0 $background,
    .12em 0 $background,
    -.12em 0 $background,
    .15em 0 $background,
    -.15em 0 $background;
}

@mixin text-underline($color-bg, $color-text) {
    background-image    : linear-gradient($color-text, $color-text);
    background-size     : 1px 1px;
    background-repeat   : repeat-x;
    background-position : 0% 95%;
}

@mixin text-selection($selection) {
    &::selection {
        @include text-underline-crop($selection);

        background : $selection;
    }

    &::-moz-selection {
        @include text-underline-crop($selection);

        background : $selection;
    }
}

@mixin link-underline($background, $text, $selection) {
    @include text-underline-crop($background);
    @include text-underline($background, $text);
    @include text-selection($selection);

    color           : $text;
    text-decoration : none;

    *,
    *:after,
    &:after,
    *:before,
    &:before {
        text-shadow : none;
    }
}
