#battle_points,
table#battle_points td {
    border          : 1px solid black;
    border-collapse : collapse;
}

#battle_points {
  td {
    padding: 5px;

    .description {
      padding: 10px 15px;
    }
  }
}
