@import "../modules/include";

%chat {
    position   : fixed;
    top        : 0;
    right      : 0;
    height     : 100%;
    width      : $chat-width;
    min-width  : $chat-min-width;
    background : $chat-bg;
    z-index    : 69;
    padding    : .5rem;
    @include flex-display();
    @include flex-direction(column);
}

#chat {
    @extend %chat;
    @include box-sizing(border-box);
    @include transform(none);
    @include transition(transform .5s #{$transition-smooth});

    &.hidden,
    &.open {

        .chat-burger-btn {
            display : block;
        }

    }

    &.hidden {
        @include transform(translateX(100%));
        overflow : inherit;
    }

    &.open {

        .chat-burger-btn {
            left : inherit;
        }

    }

    &[data-is-ie] {

        .chat-burger-btn {
            right     : 0;
            transform : none;
            left      : inherit;
        }

        &.open {

            .chat-burger-btn {
                right : 300px;
            }

        }
    }

    * {
        outline : none;
    }

    .chat-burger-btn {
        display    : none;
        position   : fixed;
        font-size  : 1.5em;
        bottom     : 2.71828em;
        left       : 1px;
        width      : 2em;
        height     : 2em;
        padding    : .5em .8em;
        cursor     : pointer;
        background : #212121;
        color      : #ffffff;
        @include box-sizing(content-box);
        @include border-radius(6px 0 0 6px);
        @include transition(right .5s #{$transition-smooth});
        @include transform(translateX(-100%));

        &[data-unread]::before {
            content    : attr(data-unread);
            position   : absolute;
            top        : 0;
            right      : 0;
            font-size  : .6em;
            padding    : .2em .5em .2em .3em;
            background : #f44336;
            color      : #ffffff;
            @include border-radius(0 0 0 6px);
        }

        > svg {
            height     : 100%;
            width      : 90%;
            margin-top : .1em;
            fill       : currentColor;
        }

        @media only screen and (max-width : 420px) {
            font-size : 1.5em;
            font-size : 5vmin;
        }

        @media #{$large-and-up} {
            display : none !important;
        }

    }

    .chat-topbars {
        background    : $chat-display-bg;
        margin-bottom : .5rem;
        padding       : .4rem;
        @include box-sizing(border-box);
        @include border-radius(.3rem);

        &:empty {
            display : none;
        }

        li {
            display : block;

            .chat-topbar-name {
                font-weight : bold;
                text-shadow : 1px 1px 1px rgba(0, 0, 0, .5);
            }

        }
    }

    #chat-notifications {

        .chat-topbar-name {
            color : #e0e0e0;
        }

        .chat-notifications-unread {
            font-family : monospace;
        }

    }

    #chat-timers {

        .chat-timer-for {

            @each $timer, $colour in $chat-timer-colours {
                &-#{$timer} {
                    color : #{$colour};
                }
            }

        }

        .chat-timer-data {
            color : #ffffff;
        }

    }

    #chat-display-wrapper {
        position : relative;
        width    : 100%;
        margin   : 0 auto;
        @include flex-display();
        @include flex-direction(column);
        @include flex-grow(1);
        overflow : auto;

        #chat-header {
            width      : 100%;
            margin     : 0 auto;
            padding    : 0;
            border     : none;
            background : none;

            .chat-tab {
                position   : relative;
                height     : 100%;
                cursor     : pointer;
                display    : inline-block;
                background : darken($chat-display-bg, 7%);
                text-align : center;
                padding    : 0 1em;
                @include transition(background .1s ease-out, color .1s ease-in-out);
                @include user-select(none);

                &:hover {
                    color : #ffffff;
                }

                &[data-unread]::after {
                    content       : attr(data-unread);
                    position      : absolute;
                    right         : 0;
                    top           : 0;
                    padding       : 0 .3em;
                    border-radius : 0 0 0 .3em;
                    font-size     : .7em;
                    background    : #f44336;
                    color         : #ffffff;
                }

                &.chat-tab-active {
                    background : $chat-display-bg;
                }

                .chat-tab-text {
                    line-height : 2.5rem;
                }

                &:first-child {
                    @include border-radius(.3rem 0 0 0);
                }

                &:last-child {
                    @include border-radius(0 .3rem 0 0);
                }

            }

        }

        .chat-display {
            width         : 100%;
            margin        : 0 auto;
            padding       : 0 0 .4rem 0;
            font-size     : 1em;
            overflow-wrap : break-word;
            overflow      : auto;
            text-overflow : ellipsis;
            background    : $chat-display-bg;
            @include border-radius(0 .3rem .3rem);
            @include box-sizing(border-box);
            @include flex-grow(1);

            .chat-message {
                line-height : 1.5em;
                overflow    : hidden;
                padding     : 0 .4rem;
                transition  : background-color .3s ease-out;
                position    : relative;

                &.new,
                &.highlighted {
                    background-color : transparentize(invert($chat-display-bg), .85);
                }

                a {
                    @include link-underline($chat-display-bg, $text-main, #b4d5fe);

                    &:hover {
                        color : lighten($text-main, 6%);
                    }

                }

                .admin-tools {
                    position : absolute;
                    left     : 0;
                    top      : 0;
                    height   : 100%;
                    cursor   : pointer;

                    &.at-top {

                        .admin-delete-btn,
                        .chat-spinner {
                            position   : relative;
                            top        : 0;
                            left       : 0;
                            transform  : none;
                            text-align : center;
                        }

                    }

                    & + label {
                        margin-left : .65rem !important;
                    }

                    & + .chat-emote {
                        margin-left : .6rem !important;
                    }

                    & + .chat-guild-announcement {
                        margin-left : .8rem !important;
                    }

                    .admin-delete-btn,
                    .chat-spinner {
                        position   : absolute;
                        top        : 50%;
                        //left       : .2rem;
                        transform  : translateY(-50%);
                        text-align : center;
                    }

                }

                .chat-link {

                    &--url {
                        @include link-underline($chat-display-bg, $chat-link-url-colour, #b4d5fe);

                        &:hover {
                            color : lighten($chat-link-url-colour, 6%);
                        }
                    }

                }

                label[for="chat-input"] {
                    color       : #bdbdbd;
                    text-shadow : 0 0 1px rgba(0, 0, 0, .5);
                    cursor      : pointer;
                }

                .chat-username {
                    color       : map-get($chat-user-colours, 0);
                    cursor      : pointer;
                    font-weight : bold;
                    text-shadow : 0 0 2px rgba(0, 0, 0, .8);

                    .arrow {
                        color       : #bdbdbd;
                        font-family : monospace;
                    }

                    &[data-status-name] {

                        &::before {
                            display     : inline-block;
                            content     : " |" attr(data-status-name) "| ";
                            transform   : translate(0, -.5em);
                            line-height : 1em;
                            padding     : 0 2px;
                            font-size   : .7em;
                            color       : #ffffff;
                        }

                    }

                    @each $status, $colour in $chat-user-colours {
                        &[data-status="#{$status}"],
                        .chat-user-status-#{$status} {
                            color : #{$colour};
                        }
                    }

                }

                %centered {
                    display    : block;
                    padding    : .5em 1em;
                    text-align : center;
                }

                .chat-drop {
                    @extend %centered;
                    color : #607d8b;

                    &-item {
                        font-weight : bold;
                        text-shadow : 0 0 4px rgba(#000, .8);
                        cursor      : default;

                        &.tooltipstered {
                            cursor : help;
                        }

                        &[data-exists="0"] {
                            cursor : not-allowed;
                            color  : map-get($chat-item-rarity-colours, 'unknown');
                        }

                        @each $rarity, $colour in $chat-item-rarity-colours {
                            &.#{$rarity} {
                                color : #{$colour};
                            }
                        }

                    }

                    &-loading {
                        cursor : progress !important;
                    }

                }

                .chat-level {
                    @extend %centered;
                    color : #8bc34a;
                }

                .chat-arena {
                    @extend %centered;
                    color : #ffffff;

                    &-name {
                        color : #e57373;
                    }

                }

                .chat-admin {
                    @extend %centered;
                    color : #4db6ac;

                    &::before,
                    &::after {
                        content : '~';
                    }

                    &::before {
                        float : left;
                    }

                    &::after {
                        float : right;
                    }

                }

                .chat-village {
                    @extend %centered;
                    color : #ffcc80;

                    &-name {
                        color : #f48fb1;
                    }

                }

                .chat-emote {
                    color        : #fafafa;
                    padding-left : .5em;
                    font-style   : italic;
                }

                .chat-announcement {
                    display      : block;
                    width        : 90%;
                    margin       : .5em auto;
                    text-align   : center;
                    font-weight  : bold;
                    color        : #ffffff;
                    text-shadow  : 0 0 3px #000000;
                    padding      : 0 0 1em 0;
                    border       : solid #607d8b;
                    border-width : 0 .5rem;
                    background   : #455a64;
                    @include box-sizing(border-box);
                    @include border-radius(8% 8% 2em 2em);

                    &::before {
                        content      : "Announcement";
                        display      : block;
                        font-variant : small-caps;
                        padding      : .5em;
                        line-height  : 1em;
                        color        : #607d8b;
                        text-shadow  : none;
                        font-weight  : lighter;
                    }

                }

                .chat-guild-announcement {
                    display          : block;
                    text-align       : center;
                    font-weight      : bold;
                    margin           : .3em 0;
                    padding          : .2em .5em;
                    color            : #e0e0e0;
                    text-shadow      : 1px 1px 1px rgba(0, 0, 0, .5);
                    font-variant     : small-caps;
                    border-width     : 0 6px 0 6px;
                    border-style     : solid;
                    border-color     : transparentize(#9fa8da, .5);
                    border-radius    : 5% 5% .8em .8em;
                    background-color : transparentize(#000000, .8);
                }

            }

        }

        #chat-new-message-counter {
            @function get-chat-unread-widget-colour($bg) {
                @if (lightness($bg) > 50%) {
                    @return #000000;
                } @else {
                    @return #ffffff;
                }
            }

            $transition : opacity .3s cubic-bezier(0, .4, .1, 1);

            position      : absolute;
            bottom        : .31415rem;
            right         : 0;
            left          : 0;
            background    : $chat-unread-widget-bg;
            color         : get-chat-unread-widget-colour($chat-unread-widget-bg);
            padding       : .4em .4em .35em .4em;
            margin-left   : auto;
            margin-right  : auto;
            width         : 120px;
            text-align    : center;
            border-radius : .3rem;
            font-size     : 1.1em;
            line-height   : 1.5em;
            font-weight   : 800;
            font-family   : monospace;
            opacity       : 1;
            transition    : $transition;

            &::after {
                content     : " new messages";
                font-weight : 200;
                opacity     : .8;
            }

            &.v-enter-active,
            &.v-leave-active {
                transition : $transition;
            }

            &.v-enter,
            &.v-leave-to {
                opacity : 0;
            }

        }

    }

    #chat-input-wrapper {
        width : 100%;

        %disabled {
            background : #9e9e9e !important;
        }

        #chat-input-chars-wrapper {
            line-height : 1.2em;
            display     : block;
            font-size   : .8em;
            margin-top  : .5rem;
            text-align  : right;
            @include user-select(none);
            cursor      : default;

            #chat-input-chars {
                background  : #ffffff;
                padding     : .3em .5em;
                color       : #000000;
                font-weight : bold;
                @include border-radius(.3rem .3rem 0 0);

                &[disabled] {
                    @extend %disabled;
                }

            }

        }

        .chat-input-maxed {
            background : #e57373 !important;
        }

        form {
            height : 2.5rem;

            input#chat-input {
                width      : 100%;
                height     : 100%;
                background : #ffffff;
                padding    : 0 .8em;
                border     : none;
                @include border-radius(.3rem 0 .3rem .3rem);
                @include box-sizing(border-box);

                &[disabled] {
                    @extend %disabled;
                    text-align : center;
                }

            }

        }

        #chat-input-chars,
        #chat-input {
            @include transition(background .3s);
        }

    }

}

#chat-context-menu {
    display : none;

    li {
        display        : block;
        position       : relative;
        cursor         : pointer;
        padding        : .5em .8em;
        margin         : .5em 0;
        line-height    : 1.5em;
        background     : transparentize(#ffffff, .8);
        text-align     : center;
        letter-spacing : .5px;
        text-transform : uppercase;
        @include border-radius(3px);
        @include transition(.3s ease-out);
        @extend .z-index-1;

        &:not([data-action]) {
            cursor     : default;
            background : transparentize(#000000, .8) !important;

            &::before {
                opacity : .8;
            }
        }

        &[class$="-command"] {
            padding : .5em 1.65em;

            &::before {
                font-family   : monospace;
                position      : absolute;
                left          : -.8em;
                background    : #000000;
                color         : #ffffff;
                text-shadow   : 1px 1px rgba(0, 0, 0, .6);
                padding       : .1em .4em;
                margin-top    : -.1em;
                border-radius : 3px;
                @extend .z-index-1;
                @include transition(.3s ease-out);
            }

        }

        @each $status, $name in $chat-user-statuses {
            &.#{$name}-command {

                &::before {
                    background : map-get($chat-user-colours, $status);
                    content    : map-get($chat-user-markings, $status);
                }

            }
        }

        &[data-action]:hover {
            background : transparentize(#ffffff, .7);
            @extend .z-index-1-half;

            @each $status, $name in $chat-user-statuses {
                &.#{$name}-command {

                    &::before {
                        background : darken(map-get($chat-user-colours, $status), 10%);
                    }

                }
            }

        }

    }

}

.tooltipster-content #chat-context-menu {
    display : block;

    &-user {
        display               : block;
        text-align            : center;
        font-weight           : bold;
        background            : rgba(0, 0, 0, .1);
        padding               : .4em .6em;
        font-family           : monospace;
        @include box-shadow(0 0 5px rgba(0, 0, 0, .3) inset);
        @include border-radius(4px);
        @include user-select(none);
        cursor                : default;
        -webkit-touch-callout : none;
    }

}

#chat-nojs {
    @extend %chat;
    justify-content : center;

    #nojs {
        font-size   : 3rem;
        line-height : 1.2;
        text-align  : center;
        color       : #f44336;
    }
}

span.monospace {
    font-family : monospace !important;
}
