#familiars ul#heading li {
    font-weight : bold;
}

#familiars ul#heading li, #familiars ul.info li {
    display : inline-block;
}

#familiars li.name {
    width : 160px;
}

#familiars li.level {
    width : 100px;
}

#familiars li.price {
    width : 140px;
}
