.footer {
  clear: both;
  height: 15px;
  padding: 18px 4px;
  font: normal 12px/12px Helvetica, Arial, Verdana, sans-serif;
  color: #6a6868;
  text-decoration: none;

  [class|=list-info],
  [class|=list-nav] {
    display: inline-block;
    padding: 0 6px;
  }

  .list-info-nav {
    float: right;
    padding: 0;

    [class|=nav] {
      list-style: none;
    }

    [class|=list-nav] a,
    [class|=list-nav] a:visited {
      color: #6a6868;
      text-decoration: none;
    }
  }
}
