input[type|=text],
input[type|=email],
input[type|=password],
.textarea {
    background   : rgb(101, 102, 101);
    background   : -moz-linear-gradient(top, rgba(101, 102, 101, 1) 0%, rgba(104, 107, 105, 1) 20%, rgba(123, 127, 124, 1) 71%, rgba(129, 135, 131, 1) 100%);
    background   : -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(101, 102, 101, 1)), color-stop(20%, rgba(104, 107, 105, 1)), color-stop(71%, rgba(123, 127, 124, 1)), color-stop(100%, rgba(129, 135, 131, 1)));
    background   : -webkit-linear-gradient(top, rgba(101, 102, 101, 1) 0%, rgba(104, 107, 105, 1) 20%, rgba(123, 127, 124, 1) 71%, rgba(129, 135, 131, 1) 100%);
    background   : -o-linear-gradient(top, rgba(101, 102, 101, 1) 0%, rgba(104, 107, 105, 1) 20%, rgba(123, 127, 124, 1) 71%, rgba(129, 135, 131, 1) 100%);
    background   : -ms-linear-gradient(top, rgba(101, 102, 101, 1) 0%, rgba(104, 107, 105, 1) 20%, rgba(123, 127, 124, 1) 71%, rgba(129, 135, 131, 1) 100%);
    background   : linear-gradient(to bottom, rgba(101, 102, 101, 1) 0%, rgba(104, 107, 105, 1) 20%, rgba(123, 127, 124, 1) 71%, rgba(129, 135, 131, 1) 100%);
    filter       : progid:DXImageTransform.Microsoft.gradient(startColorstr='#656665', endColorstr='#818783', GradientType=0);
    height       : 20px;
    border       : 1px solid #454545;
    font         : normal 14px/14px Arial, Verdana, Lucida, Helvetica, sans-serif;
    padding-left : 2px;
    @include border-radius(6px);

    &.large {
        width  : 281px;
        height : 38px;
        font   : normal 20px/20px Arial, Verdana, Lucida, Helvetica, sans-serif;
        @include border-radius(11px);
    }

    &::placeholder {
        color   : #000000;
        opacity : .3;
    }
}

select {
    background : rgb(102, 105, 103);
    background : -moz-linear-gradient(top, rgba(102, 105, 103, 1) 0%, rgba(109, 110, 109, 1) 32%, rgba(122, 125, 123, 1) 68%, rgba(127, 133, 129, 1) 95%, rgba(133, 139, 135, 1) 100%);
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(102, 105, 103, 1)), color-stop(32%, rgba(109, 110, 109, 1)), color-stop(68%, rgba(122, 125, 123, 1)), color-stop(95%, rgba(127, 133, 129, 1)), color-stop(100%, rgba(133, 139, 135, 1)));
    background : -webkit-linear-gradient(top, rgba(102, 105, 103, 1) 0%, rgba(109, 110, 109, 1) 32%, rgba(122, 125, 123, 1) 68%, rgba(127, 133, 129, 1) 95%, rgba(133, 139, 135, 1) 100%);
    background : -o-linear-gradient(top, rgba(102, 105, 103, 1) 0%, rgba(109, 110, 109, 1) 32%, rgba(122, 125, 123, 1) 68%, rgba(127, 133, 129, 1) 95%, rgba(133, 139, 135, 1) 100%);
    background : -ms-linear-gradient(top, rgba(102, 105, 103, 1) 0%, rgba(109, 110, 109, 1) 32%, rgba(122, 125, 123, 1) 68%, rgba(127, 133, 129, 1) 95%, rgba(133, 139, 135, 1) 100%);
    background : linear-gradient(to bottom, rgba(102, 105, 103, 1) 0%, rgba(109, 110, 109, 1) 32%, rgba(122, 125, 123, 1) 68%, rgba(127, 133, 129, 1) 95%, rgba(133, 139, 135, 1) 100%);
    filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#666967', endColorstr='#858b87', GradientType=0);
    font       : normal 14px/14px Arial, Verdana, Lucida, Helvetica, sans-serif;
}

.textarea {
    width  : 380px;
    height : 111px;
}

input[type|=submit],
button {
    background-color : #6c6c6c;
    padding          : 5px 8px;
    color            : #ffffff;
    font-weight      : bold;
    border           : 0;
    cursor           : pointer;

    &:hover {
        background-color : #868686;
    }
}

.form {
    margin-top : 1em;

    &.large {
        margin-top : 0;
    }

    li {
        width  : 100%;
        margin : 4px 0;

        &.large {
            margin-top : 20px;
        }
    }

    .label {
        display : inline-block;

        &.large {
            width        : 104px;
            margin-right : 5px;
            padding-top  : 12px;
            font         : bold 18px/18px Arial, Verdana, Lucida, Helvetica, sans-serif;
            text-align   : left;
        }
    }

    &.table {
        margin          : 0;
        border-collapse : separate;
        border-spacing  : 0 4px;

        .submit {
            margin-top : 2px;
        }
    }
}
