.forum {
  .container_label {
    height: 20px;
    padding-bottom: 16px;

    #breadcrumbs,
    #move_topic {
      display: inline-block;
    }

    #breadcrumbs {
      width: 54%;
    }

    .post #breadcrumbs {
      width: 71%;
    }

    #move_topic {
      width: 46%;
      text-align: right;

      .headerbutton {
        margin-right: 6px;
      }
    }

    .post #move_topic {
      width: 29%;
    }
  }

  fieldset {
    dl {
      padding: 4px 0 8px 0;
    }

    dt {
      float: left;
      text-align: left;
      display: block;
    }

    dd {
      margin-bottom: 3px;
    }

    &.fields1 dt {
      width: 6em;
      border-right-width: 0;
      padding-top: 4px;
    }

    &.fields1 dd {
      border-left-width: 0;
    }

    &.fields1 div {
      margin-bottom: 3px;
    }

    .button2 {
      width: auto;
      height: 19px;
      background: top left repeat-x #FAFAFA;
      padding: 1px 6px;
      color: #000;
      font-weight: 700;
      border: 1px solid #000;
      margin-bottom: 1px
    }

    .button2:hover {
      border-color: #BC2A4D;
      color: #BC2A4D;
      cursor: pointer
    }

    .button2:not(last-child) {
      margin-right: 4px
    }

    #smiley-box {
      width: 130px;
      float: right;
    }

    #smiley-box img {
      margin-top: 8px
    }

    #smiley-box a:not(last-child) {
      margin-right: 12px;
    }
  }

  #forum {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #cccccc;

    th,
    td {
      border: 1px solid #cccccc;
    }

    tr {
      th {
        text-align: center;

        &#topic_count,
        &#post_count {
          width: 9%;
        }

        &#last_post {
          width: 30%;
        }
      }

      &:nth-child(even),
      &:nth-child(even) {
        background-color: #303030;
      }

      &:nth-child(odd),
      &:nth-child(odd) {
        background-color: #0f0f0f;
      }

      td {
        padding: 4px 4px;

        .like_rating {
          position: absolute;
          bottom: 0;
          height: 18px;
        }

        .post-content {
          padding: 10px 5px;

          img {
            max-width: 333px;
          }
        }
      }

      .topic-post {
        overflow: auto;
      }

      .user-post {
        position: relative;
        width: 160px;
        vertical-align: top
      }

      .post-icons,
      .post-features {
        display: block;
        text-align: right;

        form input[type|=submit] {
          width: 14px;
          height: 14px;
          border: 0;
          -webkit-appearance: button;
          cursor: pointer;
          padding: 0;
          background-color: transparent;
        }

        a {
          margin-right: 3px;
        }

        #LockPost,
        #PinPost,
        #DeletePost {
          margin-right: 3px;
          display: inline;
        }

        .lockbutton {
          background: url(../images/icon_lock.png) no-repeat top left;
        }

        .unlockbutton {
          background: url(../images/icon_unlock.png) no-repeat top left;
        }

        .pinbutton {
          background: url(../images/icon_pin.png) no-repeat top left;
        }

        .unpinbutton {
          background: url(../images/icon_unpin.png) no-repeat top left;
        }

        .trashbutton {
          background: url(../images/icon_trash.gif) no-repeat top left;
        }
      }
    }

    h3 {
      font-size: 12px;

      .pinned_bracket {
        font-size: 14px;
        color: #c2c2bd;
      }

      .post_lock {
        color: #c2c2bd;
      }

      .new_post {
        font-size: 8px;
        color: red;
        vertical-align: top
      }
    }
  }
}
