@import "../modules/variables";

* {
    //border  : 0;
    margin  : 0;
    padding : 0;
}

html,
body {
    height : 100%;
}

body {
    background : $bg-color url(../images/body-bg.png) no-repeat top center fixed;
    font       : normal 12px/14px Arial, Verdana, Lucida, Helvetica, sans-serif;
    color      : $text-main;
    @include background-size(cover);
}

fieldset {
    margin : 0;
    border : 0;
}

a,
a:visited {
    color           : $link-light;
    text-decoration : none;

    &:hover,
    &:active {
        color : $link-light-hover;
    }

    &[href] {
        cursor : pointer;
    }

    &:not([href]) {
        cursor : help;
    }
}

abbr {
    border : 0;
}

address {
    display         : inline;
    text-decoration : none;
}

img {
    border : 0;
}

.accessaid {
    display  : inline-block;
    height   : 0;
    overflow : hidden;
}

.empty {
    clear  : both;
    height : 0;
}

#wrapper {
    width       : 60%;
    margin      : 0 auto;
    padding-top : 8px;
    @include transform(translateX(-20%));
    @include transition(width .3s #{$transition-smooth});
    @include border-radius(0 0 6px 6px);
    background  : #7d7e7d;
    background  : transparentize(#7d7e7d, .1);
    background  : -moz-linear-gradient(top, #7d7e7d, #0f0f0f);
    background  : -webkit-gradient(linear, left top, left bottom, from(transparentize(#7d7e7d, .1)), to(transparentize(#0f0f0f, .3)));

    @media only screen and (max-width : #{$chat-min-width / ($chat-width / 100%)}) {
        @include transform(translateX(#{$chat-min-width / -2}));
    }

}

.hidden {
    display  : none;
    height   : 0;
    overflow : hidden;
}

.required {
    color : red;
}

#back_button {
    padding        : 40px 0 10px;
    text-align     : center;
    text-transform : lowercase;
}

.image-link {
    display  : inline-block;
    position : relative;
}

.align-center {
    text-align : center;
}

.tooltip-wiki-link {
    position   : absolute;
    right      : 0;
    top        : 0;
    padding    : 0 .4em;
    background : #000000;
    color      : #bdbdbd;
    @include border-radius(0 4px 0 4px);
    @include transition(color .2s #{$transition-smooth});

    &:hover {
        color : #fafafa;
    }
}

// Socket gem colours
@each $name, $colour in $socket-gem-colours {
    .#{$name} {
        color : $colour;
    }
}

// Battle gain colours
@each $name, $colour in $battle-colours {
    .#{$name} {
        color : $colour;
    }
}

// Equipment rarity colours
@each $name, $colour in $equipment-rarity-colours {
    .#{$name} {
        color       : $colour;
        font-weight : bold;

        &:hover {
            @extend .#{$name};
        }
    }
}

// Equipment types
@each $name in $equipment-types {
    [data-type="#{$name}"] {
        background : url("/images/forge-#{$name}.png") no-repeat center center;
    }
}

[data-type="bag"] {
    background : none;

    @each $quality, $rarity in $bag-type-to-rarity {
        &.#{$rarity} {
            //noinspection CssUnknownTarget
            background-image    : url('/images/#{$quality}_bag.png');
            background-size     : 118% !important;
            background-position : center;
        }
    }
}

#context-menu {
    display : none;

    li {
        display        : block;
        position       : relative;
        cursor         : pointer;
        padding        : .5em .8em;
        margin         : .5em 0;
        line-height    : 1.5em;
        background     : transparentize(#ffffff, .8);
        text-align     : center;
        letter-spacing : .5px;
        text-transform : uppercase;
        @include border-radius(3px);
        @include transition(.3s ease-out);
        @extend .z-index-1;

        &:not([data-action]) {
            cursor     : default;
            background : transparentize(#000000, .8) !important;

            &::before {
                opacity : .8;
            }
        }

        &[class$="-command"] {
            padding : .5em 1.65em;

            &::before {
                font-family   : monospace;
                position      : absolute;
                left          : -.8em;
                background    : #000000;
                color         : #ffffff;
                text-shadow   : 1px 1px rgba(0, 0, 0, .6);
                padding       : .1em .4em;
                margin-top    : -.1em;
                border-radius : 3px;
                @extend .z-index-1;
                @include transition(.3s ease-out);
            }

        }

        @each $status, $name in $chat-user-statuses {
            &.#{$name}-command {

                &::before {
                    background : map-get($chat-user-colours, $status);
                    content    : map-get($chat-user-markings, $status);
                }

            }
        }

        &[data-action]:hover {
            background : transparentize(#ffffff, .7);
            @extend .z-index-1-half;

            @each $status, $name in $chat-user-statuses {
                &.#{$name}-command {

                    &::before {
                        background : darken(map-get($chat-user-colours, $status), 10%);
                    }

                }
            }

        }

    }

}

.tooltipster-content {

    #context-menu {
        display : block;

        &-user,
        [data-action="__header"] {
            display               : block;
            text-align            : center;
            font-weight           : bold;
            background            : rgba(0, 0, 0, .1);
            padding               : .4em .6em;
            font-family           : monospace;
            box-shadow            : 0 0 5px rgba(0, 0, 0, .3) inset;
            border-radius         : 4px;
            user-select           : none;
            cursor                : default;
            -webkit-touch-callout : none;

            &:hover {
                background : rgba(0, 0, 0, .1);
                box-shadow : 0 0 5px rgba(0, 0, 0, .3) inset !important;
            }

        }
    }

    .item-tooltip-title {
        position      : relative;
        font-weight   : bold;
        display       : block;
        text-align    : center;
        background    : rgba(0, 0, 0, .3);
        margin        : 0 -4px 4px -4px;
        padding-right : .5em;
        padding-left  : .85em;
        border-radius : 3px;
        color         : #ffffff;
        text-shadow   : 0 0 3px rgba(0, 0, 0, .8), 1px 1px 2px rgba(0, 0, 0, .5);

        &::before {
            position      : absolute;
            left          : -6px;
            top           : 50%;
            transform     : translateY(-50%);
            width         : 1.4em;
            font-size     : 0.7em;
            line-height   : 1.5em;
            border-radius : 3px;
            color         : #ffffff;
            text-shadow   : 0 0 1px #000000, 1px 1px 2px #000000;
        }

        @each $rarity, $colour in $chat-item-rarity-colours {
            &.#{$rarity} {
                $new-colour : hsl(hue($colour), saturation($colour), max(lightness($colour), 68%));

                color : $new-colour;

                &::before {
                    content    : '#{to-upper_case(str-slice($rarity, 0, 1))}';
                    background : $new-colour;
                }

            }
        }

    }

}

.dialogerror {
    background-color : #ff969b;
    @include border-radius(6px);
    padding          : 6px;
    margin           : 16px 0 16px 0;
}

.dialogerrorsub {
    border     : 1px solid #dfdfd3;
    padding    : 2px;
    background : white;
}

.dialogerrorcontent {
    border          : 1px solid #dfdfd3;
    padding         : 6px 6px 6px 34px;
    background      : white;
    color           : #4e4e4e;
    text-decoration : none;
    font-size       : 16px;
    font-weight     : bold;
    background      : url(../images/icon_error.png) no-repeat 4px 2px;
}

.dialoginfo {
    background-color : #b3eab8;
    @include border-radius(6px);
    padding          : 6px;
    margin           : 16px 0 16px 0;
}

.dialoginfosub {
    border     : 1px solid #dfdfd3;
    padding    : 2px;
    background : white;
}

.dialoginfocontent {
    border          : 1px solid #dfdfd3;
    padding         : 6px 6px 6px 38px;
    background      : white;
    color           : #4e4e4e;
    text-decoration : none;
    font-size       : 16px;
    font-weight     : bold;
    background      : url(../images/icon_info.png) no-repeat 4px 0;
}

@media #{$large-and-down} {

    #wrapper {
        width : 70%;
    }

}

@media #{$medium-and-down} {

    #wrapper {
        width     : 94%;
        transform : none;
    }

}
