.genstore {
    #genstore-bag-container {
        text-align : center;
    }

    #genstore-slots-container {
        text-align : center;

        h1 {
            padding-top    : 1em;
            padding-bottom : .5em;
        }

    }

    .confirm-buy-slots {
        text-align : center;
        padding    : 1em 0;

        .confirm-buttons {
            margin-top : 1em;

            form {
                display : inline-block;
            }

        }

    }

    .success-buy-slots {
        text-align  : center;
        padding-top : 1em;

        h1 {
            line-height : 1.8em;
        }

        .slot-cost {
            color : gold;
        }

        .slot-num {
            color : #ffffff;
        }

    }

    .bag-image {
        border: 1px solid white;
        opacity: 0.75;
        cursor: pointer;
        width: 80px;
        height: 80px;
        background-size: contain;

        &.low {
            background-image: url('/images/low_bag.png');
        }
        &.medium {
            background-image: url('/images/medium_bag.png');
        }
        &.high {
            background-image: url('/images/high_bag.png');
        }

        &:hover {
            opacity: 1;
        }
    }
}
