span.male-icon {
    display    : inline-block;
    width      : 15px;
    height     : 15px;
    background : url(../images/layouts/default/private/male.png) 0 0 no-repeat;
}

span.female-icon {
    display    : inline-block;
    width      : 15px;
    height     : 15px;
    background : url(../images/layouts/default/private/female.png) 0 0 no-repeat;
}

span.marriage {
    display    : inline-block;
    width      : 15px;
    height     : 15px;
    background : url(../images/layouts/default/private/marriage.png) 0 0 no-repeat;
}

span.online {
    display    : inline-block;
    width      : 13px;
    height     : 13px;
    background : url(../images/layouts/default/private/online.gif) 0 0 no-repeat;
}

span.stealth {
    display    : inline-block;
    width      : 15px;
    height     : 15px;
    background : url(../images/layouts/default/private/stealth.png) 0 0 no-repeat;
}
