.forge {
  #forge-tabs #forge.ui-tabs-panel.ui-widget-content.ui-corner-bottom {
    padding: 1em 1px;
  }
}

#wrapper {
  .ui-widget.ui-widget-content {
    background: transparent !important;
    border: 0 !important;
  }

  .ui-widget-header {
    height: 30px;
  }

  .ui-tabs {
    padding: 0 !important;
  }

  .ui-tabs .ui-tabs-nav li,
  .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: none;
    display: inline-flex;
  }
}
