.main {
    min-height    : 550px;
    padding-top   : 34px;
    padding-right : 8px;
    @include border-radius(6px);

    ul {
        list-style : none inside;
        padding    : 0 0;
    }
}

.main-2 {
    margin-left      : 26.5%;
    background-color : #3f3f3f;
    padding          : 6px;

    @include border-radius(6px);

    p {
        margin-bottom : 1em;
    }

    .no-bg-image {
        background-image : -moz-linear-gradient(top, #7d7e7d, #0f0f0f);
        background-image : -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0f0f0f));
    }

    #main-character {
        text-align : center;

        #player-motto:not(:empty) {
            display     : inline-block;
            position    : relative;
            margin      : .5em 1.4em 2em;
            font-family : "Calisto MT", "Bookman", "Goudy Old Style", "Garamond", "Hoefler Text", "Bitstream Charter", "Georgia", serif;
            font-size   : 1.3em;
            text-align  : justify;

            &::before,
            &::after {
                content   : '"';
                position  : absolute;
                opacity   : .6;
                font-size : 3em;
            }

            &::before {
                content : "\201C";
                top     : .1em;
                left    : -.5em;
            }

            &::after {
                content : "\201D";
                top     : .4em;
                right   : -.5em;
            }

        }

    }

    @media #{$small-and-down} {
        margin-left : 188px
    }

}
