.homepage {

  .news,
  .subcontent {
    background-color: #353434;
    padding: 0 1em 1em 1em;
    margin-bottom: 4px;

    h2 {
      padding-top: 1em;
      font: bold 12px/14px Arial, Verdana, Lucida, Helvetica, sans-serif;
      color: #f8dfaf;
    }
  }

  .subcontent ~ .subcontent {
    margin-right: 0;
  }

  .subcontent {
    display: inline-block;
    vertical-align: top;
    //height: auto;
    //min-height: 200px;
    width: 49.6%;
    margin-right: 4px;
    @include box-sizing(border-box);

    ul {
      &:not(:last-child) {
        border-bottom: 1px ridge #625f5f;
        //margin-bottom: 1em;
        padding-bottom: 1em;
      }
    }

    @media #{$small-and-down} {
      width: 100%;
      margin-bottom: 0;

      &:last-child {
        h2:first-child {
          border-top: 1px ridge #625f5f;
          padding-top: 1em;
        }
      }
    }
  }

}
