#fleamarket ul, #marketplace ul {
    list-style : none;
    width      : 100%;
}

#marketplace ul label {
    float         : left;
    width         : 160px;
    padding-top   : 4px;
    padding-right : 10px;
    text-align    : right;
}

#marketplace ul li {
    width       : 100%;
    padding-top : 2px;
}

#fleamarket ul#filter_options li {
    padding-bottom : 4px;
}

#fleamarket ul#heading li, #marketplace ul#heading li {
    margin-top  : 20px;
    font-weight : bold;
}

#fleamarket ul#heading li, #fleamarket ul.info li, #marketplace ul#heading li, #marketplace ul.info li {
    display : inline-block;
    padding : 2px;
}

#fleamarket .item, #marketplace .item {
    width : 160px;
}

#fleamarket .level {
    width : 50px;
}

#fleamarket .cost, #marketplace .cost {
    width : 105px;
}

#fleamarket .seller, #marketplace .seller {
    width : 120px;
}

#fleamarket .buy, #marketplace .buy {
    width : 30px;
}

#fleamarket ul.info:nth-child(even), #marketplace ul.info:nth-child(even) {
    background-color : #3f3f3f;
}
