.members {
  #member-search {
    //float: left;
    display: inline-block;
    width: 74%
  }

  #members-total {
    //float: right;
    display: inline-block;
    width: 24%;
    text-align: right
  }

  #heading {
    padding-top: 40px;

    li {
      font-weight: 700;
    }
  }

  #heading li,
  .info li {
    display: inline-block;
    padding: 2px 0;
  }

  .name {
    width: 44%
  }

  .level {
    width: 10%
  }

  .guild {
    width: 44%
  }
}
