@import "../modules/include";

#donate-header,
#mainnav-header,
#stats-header,
#help-header,
#social-header {
    font        : bold 20px/20px "Times New Roman", Arial, Verdana, Lucida, Helvetica, sans-serif;
    color       : #f8dfaf;
    text-shadow : 0 0 10px #000000;
}

.donate,
.mainnav,
.nav1,
.stats,
.help,
.social {
    float     : left;
    clear     : left;
    width     : 24%;
    min-width : 176px;
    max-width : 210px;
    margin    : 12px 0 0 8px;

    .nav-1 {

        &.hover {
            overflow : hidden;
        }

        a {
            color       : $link-dark;
            font-weight : bold;
            line-height : 1.4em;

            &:hover {
                color : $link-dark-hover;
            }

        }

    }
}

.stats {

    #stats-header + .stats-1 {

        #time {
            display        : block;
            line-height    : 2em;
            vertical-align : middle;
            text-align     : center;
            font-weight    : bold;
            margin-bottom  : -.5em;
            color          : #546e7a;

            @media #{$small-and-down} {
                line-height : 1.5em;
                margin-top  : .5em;

                #time-days,
                #time-hours {
                    display : block;
                }

            }

        }

    }

}

.mainnav {

    .hr {
        margin        : 1em 0;
        width         : 100%;
        border-bottom : 1px dotted #bbbbb6;
    }

    /*
    .nav-1,
    .nav-2,
    .nav-3 {
      @extend .z-index-1;
    }
    */

    .nav-2 {
        margin  : 1px -6px 2px;
        padding : 0 0 0 22px;
    }

    .list-nav-2 {
        &.here,
        &:hover {
            min-height : 12px;
            height     : auto;
        }
    }

    .nav-3 {
        padding-bottom : 2px;
    }

    .list-nav-3 {
        height      : 13px;
        list-style  : circle;
        white-space : nowrap;
        margin-left : 20px;
    }

    /*
    [id$=-header] {

      & + .nav-1 {
        margin-top: 0;
        @include border-radius(0 6px 6px 6px);

        @media #{$small-and-down} {
          @include box-shadow(none);
          @include border-radius(0 0 6px 6px);
        }

      }

    }
    */

}

.bsm-item,
.mainnav .nav-1,
.nav1 ol,
.donate .nav-1,
.stats .stats-1,
.help .nav-1,
.social .nav-1,
.file-current {
    background-color : #fafbfb;
    font             : normal 12px/12px Arial, Verdana, Lucida, Helvetica, sans-serif;
    color            : #545252;
    border           : 2px solid #3f3f3f;
    @include border-radius(6px);
    padding          : 1em;
    margin-top       : 2px;
}

[class|=nav],
.nav1 ol,
[class|=stats] {
    list-style : none;
}
