@import "../modules/include";

%loading {
    position : relative;
    cursor   : progress;

    @keyframes spinner {
        to {
            transform : rotate(360deg);
        }
    }

    &:before {
        content       : '';
        position      : absolute;
        top           : 0;
        left          : 0;
        bottom        : 0;
        right         : 0;
        background    : rgba(0, 0, 0, .69);
        border-radius : 8px;
        z-index       : 98;
    }

    &:after {
        content             : '';
        box-sizing          : border-box;
        position            : absolute;
        top                 : 50%;
        left                : 50%;
        width               : 20px;
        height              : 20px;
        margin-top          : -10px;
        margin-left         : -10px;
        border-radius       : 50%;
        border              : 2px solid transparent;
        border-top-color    : #0077dd;
        border-bottom-color : #0077dd;
        animation           : spinner .8s ease infinite;
        z-index             : 99;
    }
}

.pack-mule,
.bank {
    table {
        display         : inline-flex;
        width           : 49.5%;
        border-collapse : separate;
        text-align      : center;
        vertical-align  : top;

        &#paperdoll {
            border-spacing : 1.25em;
        }

        &#bag-list {
            width : 100%;

            tbody {
                margin : 0 auto;
            }

            .bag-icon {
                position        : relative;
                width           : 65px;
                height          : 65px;
                background-size : contain;
                cursor          : pointer;

                &.loading {
                    @extend %loading;
                }

                @each $quality in $bag-types {
                    &.#{$quality} {
                        background-image : url('/images/#{$quality}_bag.png');
                    }
                }

                &.no-bag {
                    //noinspection CssUnknownTarget
                    background-image : url('/images/bag_blank.png');
                    cursor           : default;
                }

                &.selected {
                    box-shadow    : 0 0 22px 2px #fff59d inset;
                    border-radius : 5px;
                    cursor        : default;
                }

                .bag-slots {
                    position         : absolute;
                    right            : 3px;
                    top              : 3px;
                    padding          : 1px 4px;
                    border-radius    : 0 5px;
                    background-color : #b71c1c;
                    color            : #ffffff;
                }

            }

        }

        td {
            &.equipped-slot,
            &.equipment-slot {
                background-size  : 85% 85%;
                background-color : #7d7e7d;
                border           : 2px solid #3f3f3f;
                box-shadow       : 0 0 10px #888888;
                border-radius    : 10px;

                @each $rarity, $colour in $chat-item-rarity-colours {
                    &.#{$rarity} {
                        box-shadow : 0 0 10px #{$colour};
                    }
                }

                &.loading {
                    @extend %loading;
                }

                a {
                    display : block;
                    width   : 100%;
                    height  : 100%
                }
            }

            &[data-type] {
                background-color : #ffffff;
            }

            &.equipped-slot {
                height : 65px;
                width  : 65px;
            }

            &.equipment-slot {
                display : inline-flex;
                height  : 45px;
                width   : 45px;
                margin  : .25em;

                &.item-selectable {
                    position : relative;

                    a::after {
                        content                    : "\2713";
                        position                   : absolute;
                        top                        : 4px;
                        left                       : 4px;
                        opacity                    : .5;
                        background                 : #455a64;
                        color                      : #455a64;
                        padding                    : 0 3px;
                        font-size                  : 9px;
                        border-radius              : 3px;
                        text-align                 : center;
                        box-shadow                 : 1px 1px 2px rgba(0, 0, 0, .3);
                        transition-property        : opacity, transform, border-radius, box-shadow;
                        transition-duration        : .2s;
                        transition-timing-function : #{$transition-smooth};
                    }

                    &:hover {

                        a::after {
                            opacity : .65;
                        }

                    }

                    &.item-selected {

                        a::after {
                            content     : "\2713";
                            text-shadow : 0 0 4px #000000;
                            color       : #ffffff;
                            opacity     : 1;
                        }

                    }

                    &.loading {

                        a::after {
                            display : none;
                            //opacity                : .5;
                            //transform              : translate(-4px, -3px);
                            //border-top-left-radius : 10px;
                            //box-shadow             : none;
                        }

                    }

                }

            }
        }
    }
}

.bank {

    table {
        width : 100%;
    }

}

#inventory {

    .inventory-transitions-move {
        transition : transform .7s #{$transition-smooth};
    }

    .inventory-transitions-leave-active {
        display : none !important;
    }

    %item-slot {
        display          : inline-block;
        background-size  : 85% 85%;
        background-color : #7d7e7d;
        border           : 2px solid #3f3f3f;
        box-shadow       : 0 0 10px #888888;
        border-radius    : 10px;

        @each $rarity, $colour in $chat-item-rarity-colours {
            &.#{$rarity} {
                box-shadow : 0 0 10px #{$colour};
            }
        }

        &[data-type] {
            background-color : #ffffff;
        }

        &.loading {
            @extend %loading;
        }

        &.slot-unused {
            opacity : 0;
        }

        a {
            display : block;
            width   : 100%;
            height  : 100%
        }
    }

    &.vue-loaded {

        .inventory-top {

            .inventory-top-container {

                #bag {

                    .equipment-slot {
                        margin-right : .377rem;
                    }

                }

            }

        }

    }

    .inventory-top {
        display   : table;
        width     : 100%;
        font-size : 0;

        @media #{$medium-and-down} {
            display : block;
        }

        .inventory-top-container {
            display        : table-cell;
            width          : 50%;
            zoom           : 1;
            vertical-align : middle;
            font-size      : 12px;

            @media #{$medium-and-down} {
                display    : block;
                width      : 100%;
                margin     : 0 auto;
                text-align : center;
                padding    : 1em 0;
            }

            #paperdoll {
                width      : 100%;
                text-align : center;

                .equipped-slot {
                    @extend %item-slot;
                    height : 61px;
                    width  : 61px;

                    @media #{$small-and-down} {
                        width  : 60px;
                        height : 60px;
                    }

                }

            }

            #bag {
                width      : 100%;
                min-height : 10.2em;

                @media #{$medium-and-down} {
                    min-height : 3.4em;
                    width      : 65%;
                    margin     : 0 auto;
                }

                @media #{$small-and-down} {
                    width : 90%;
                }

                .equipment-slot {
                    @extend %item-slot;
                    height : 45px;
                    width  : 45px;
                    margin : .1em;

                    &.item-selectable {
                        position : relative;

                        a::after {
                            content                    : "\2713";
                            position                   : absolute;
                            top                        : 4px;
                            left                       : 4px;
                            opacity                    : .5;
                            background                 : #455a64;
                            color                      : #455a64;
                            padding                    : 0 4px 0 3px;
                            font-size                  : 9px;
                            border-radius              : 3px;
                            text-align                 : center;
                            box-shadow                 : 1px 1px 2px rgba(0, 0, 0, .3);
                            transition-property        : opacity, transform, border-radius, box-shadow, background;
                            transition-duration        : .2s;
                            transition-timing-function : #{$transition-smooth};
                        }

                        &[data-type="bag"] {
                            a::after {
                                background : #ffffff;
                                color      : #ffffff;
                                box-shadow : 1px 1px 2px rgba(255, 255, 255, .3);
                            }
                        }

                        &:hover {

                            a::after {
                                opacity : .65;
                            }

                        }

                        &.item-selected {

                            a::after {
                                content     : "\2713";
                                text-shadow : 0 0 4px #000000;
                                color       : #ffffff;
                                opacity     : 1;
                                font-weight : bold;
                            }

                            &[data-type="bag"] {

                                a::after {
                                    background : #455a64;
                                }

                            }

                        }

                        &.loading {

                            a::after {
                                display : none;
                            }

                        }

                    }

                }

            }

        }

    }

    #bag-sorting,
    #bag-search {
        text-align     : left;
        width          : 100%;
        padding-bottom : .314159265359em;

        @media #{$medium-and-down} {
            text-align : center;
        }

    }

    #bag-sorting {

        #bag-sorting-by {

            #bag-sort {
                cursor : pointer;
            }

        }

        #bag-sorting-reverse {
            padding-top : 4px;

            label,
            #bag-sort-reverse {
                cursor : pointer;
            }

            label {
                padding-right : 5px;
                margin-right  : -3px;
            }

            #bag-sort-reverse {
                vertical-align : middle;
            }

        }

    }

    #bag-search {
        margin-top    : .15em;
        margin-bottom : .5em;
    }

    #bag-list-container {
        text-align : center;

        #bag-list {
            font-size : 1em;
            width     : 100%;

            .bag-icon {
                display         : inline-block;
                position        : relative;
                width           : 65px;
                height          : 65px;
                background-size : contain;
                cursor          : pointer;

                @media #{$small-and-down} {
                    width  : 55px;
                    height : 55px;
                }

                &.loading {
                    @extend %loading;
                }

                @each $quality in $bag-types {
                    &.#{$quality} {
                        //noinspection CssUnknownTarget
                        background-image : url('/images/#{$quality}_bag.png');
                    }
                }

                &.no-bag {
                    //noinspection CssUnknownTarget
                    background-image : url('/images/bag_blank.png');
                    cursor           : default;
                }

                &.selected {
                    box-shadow    : 0 0 22px 2px #fff59d inset;
                    border-radius : 5px;
                    cursor        : default;
                }

                .bag-slots {
                    position         : absolute;
                    right            : 3px;
                    top              : 3px;
                    padding          : 1px 4px;
                    border-radius    : 0 5px;
                    background-color : #b71c1c;
                    color            : #ffffff;
                }

            }

        }

    }

    #inv-dialog-widget:not(.vue-loaded) {
        display : none;
    }

}
