#ponline ul {
    list-style : none;
    width      : 100%;
}

#ponline ul#heading li {
    font-weight : bold;
}

#ponline ul#heading li, #ponline ul.info li {
    display : inline-block;
    padding : 2px;
}

#ponline .name {
    width : 254px;
}

#ponline .class {
    width : 80px;
}

#ponline .level {
    width : 70px;
}

#ponline .options {
    width : 70px;
}

#ponline ul.info:nth-child(even) {
    background-color : #3f3f3f;
}

#ponline ul#game-stats {
    margin-top     : 40px;
    padding-bottom : 10px;
    text-align     : center;
}

#ponline div#new-players {
    display    : block;
    margin-top : 40px;
}
