body {

    .select2-container--default .select2-selection--single,
    .select2-results__option {
        background    : #656665;
        background    : linear-gradient(180deg, #656665 0, #686b69 20%, #7b7f7c 71%, #818783);
        filter        : progid:DXImageTransform.Microsoft.gradient(startColorstr="#656665", endColorstr="#818783", GradientType=0);
        border        : 1px solid #454545;
        border-radius : 6px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered,
    .select2-results__option {
        color         : #000000;
        border        : none;
        border-radius : 3px;
    }

    .select2-dropdown {
        background : #3f3f3f;
    }

    .select2-container--default .select2-results__option[aria-selected=true] {
        background  : #898f8b;
        font-weight : bold;
        border      : 1px solid #454545;
    }

    .select2-container--default .select2-search--dropdown .select2-search__field {
        background : #656665;
        background : linear-gradient(180deg, #656665 0, #686b69 20%, #7b7f7c 71%, #818783);
        filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr="#656665", endColorstr="#818783", GradientType=0);
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-color : #e0e0e0 transparent transparent transparent;
    }

}
