.z-index-0 {
    box-shadow : none !important
}

.z-index-1 {
    @include box-shadow(
                    0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12),
                    0 3px 1px -2px rgba(0, 0, 0, 0.2)
    );
}

.z-index-1-half {
    @include box-shadow(
                    0 3px 3px 0 rgba(0, 0, 0, 0.14),
                    0 1px 7px 0 rgba(0, 0, 0, 0.12),
                    0 3px 1px -1px rgba(0, 0, 0, 0.2)
    );
}

.z-index-2 {
    @include box-shadow(
                    0 4px 5px 0 rgba(0, 0, 0, 0.14),
                    0 1px 10px 0 rgba(0, 0, 0, 0.12),
                    0 2px 4px -1px rgba(0, 0, 0, 0.3)
    );
}

.z-index-3 {
    @include box-shadow(
                    0 6px 10px 0 rgba(0, 0, 0, 0.14),
                    0 1px 18px 0 rgba(0, 0, 0, 0.12),
                    0 3px 5px -1px rgba(0, 0, 0, 0.3)
    );
}

.z-index-4, .modal {
    @include box-shadow(
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12),
                    0 5px 5px -3px rgba(0, 0, 0, 0.3)
    );
}

.z-index-5 {
    @include box-shadow(
                    0 16px 24px 2px rgba(0, 0, 0, 0.14),
                    0 6px 30px 5px rgba(0, 0, 0, 0.12),
                    0 8px 10px -5px rgba(0, 0, 0, 0.3)
    );
}
