@import "../modules/include";

@each $status, $colour in $chat-user-colours {
    .user-status-#{$status},
    a.user-status-#{$status} {
        color       : #{$colour};
        cursor      : pointer;
        font-weight : bold;
        //text-shadow : 0 0 2px rgba(0, 0, 0, 0.8);

        &:hover,
        &:visited {
            color : #{$colour};
        }

        &:hover {
            //text-shadow : 0 0 2px rgba(0, 0, 0, 0.8), 1px 1px 2px rgba(0, 0, 0, .5);
        }

        &.with-user-tag {

            @if (map-has-key($chat-user-markings, $status)) {
                &::before {
                    display     : inline-block;
                    content     : " |#{map-get($chat-user-markings, $status)}| ";
                    transform   : translate(0, -.5em);
                    line-height : 1em;
                    padding     : 0 2px;
                    font-size   : .7em;
                    color       : #ffffff;
                }
            }

        }

    }
}

.chat_monitor {
    color : #119999
}

.moderator {
    color : #800040
}

.administator {
    color : #ff8040
}

.manager {
    color : red
}
