.subnav {
    float         : right;
    margin-right  : .7em;
    margin-bottom : -2em;
    padding       : 4px 10px;
    background    : -moz-linear-gradient(top, #7c0000, #d10000);
    background    : -webkit-gradient(linear, left top, left bottom, from(#7c0000), to(#d10000));
    border        : 2px ridge #e8e7e7;
    @include border-radius(6px);
    font          : bold 12px/13px Arial, Verdana, Lucida, Helvetica, sans-serif;
    color         : #fffcfc;

    .list-nav-1 + .list-nav-1:before {
        content : " |";
        padding : 0 8px;
    }

    [class|=list-nav] {
        display : inline-block;
    }

    [class|=list-nav] a,
    [class|=list-nav] a:visited {
        color : #fffcfc;
    }

    [class|=list-nav] a:hover,
    [class|=list-nav] a:active,
    [class|=list-nav].here a,
    [class|=list-nav].here a:visited {
        background : none;
        margin     : 0;
        padding    : 0;
    }

    @media #{$small-and-down} {
        float       : none;
        display     : inline-block;
        margin-left : .7em;
        font-size   : 1.68vw;

        // TODO: How to center?
        //  Solution #1: Wrap it in a container
    }

}

