.treasury {

  #deposit_withdraw {
    width: 100%;
    padding-bottom: 2em;

    li {
      display: inline-block;
      float: none;
      width: 49%;
    }
  }

  #transfer {
    select {
      border: 0;
      width: 90px;
    }
  }

  label {
    //float         : left;
    width: 190px;
    padding-top: 4px;
    padding-right: 10px;
    text-align: right;
  }

  /*
  li {
    width: 100%;
    padding-top: 2px;
  }
  */

  input#amount {
    width: 68px;
  }

}
