.viewguilds {
  #heading li {
    font-weight: 700;
  }

  #heading li,
  .info li {
    display: inline-block;
    padding: 2px 0;
  }

  .name {
    width: 44%
  }

  .level {
    width: 10%
  }

  .item_type {
    width: 12%
  }

  .request_return {
    width: 22%
  }

  .remove_reclaim {
    width: 8%
  }

  .player-profile {
    label {
      display: inline-block;
      width: 40%;
      padding-top: 4px;
      padding-right: 10px;
      text-align: right;
    }
  }

  #member-list th {
    text-align: left;
  }
}
