.voting_topic {
    position      : relative;
    margin-bottom : 40px;
}

div.voting_topic:not(:last-of-type):after {
    content       : '';
    position      : absolute;
    width         : 50%;
    left          : 25%;
    bottom        : -20px;
    border-bottom : 1px ridge #625f5f;
}

.voting_topic:last-of-type {
    margin-bottom : 10px;
}

.voting_title {
    font-weight : bold;
}

.voting_description {
    padding-bottom : 10px
}

.voting_options {
    display : table;
    margin  : 0 auto;
}

.voting_options form {
    display    : table-cell;
    min-width  : 200px;
    max-width  : 400px;
    word-wrap  : break-word;
    text-align : center;
}

.voting_options [class|=submit] {
    width     : 60px;
    margin    : 10px 0;
    font-size : 18px;
}

.option {
    padding    : 6px 0;
    text-align : left;
}

.option input[type=radio] {
    margin-right : 10px
}
