.wilderness-log-table,
.wilderness-table {
  width: 100%;
}

.wilderness-log-table {
  hr {
    margin: 6px 0;
  }
}

.wilderness-table {
  border-spacing: 0;
  border-collapse: collapse;

  td {
    border: 1px solid;
    padding: 1em;
  }

  .wild_nav {
    td {
      border: 0;
      padding: 0;
    }
  }
}
