// Media Query Ranges
$small-screen : 752px !default;
$medium-screen : 1012px !default;
$large-screen : 1184px !default;

$small-and-down : "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down : "only screen and (max-width : #{$medium-screen})" !default;
$large-and-up : "only screen and (min-width : #{$large-screen})" !default;
$large-and-down : "only screen and (max-width : #{$large-screen})" !default;

// Colours
$bg-color : #000000 !default;
$text-main : #bdbdaf !default;
$text-public : #afafab !default;
$link-light : #989797 !default;
$link-light-hover : darken($link-light, 15%) !default;
$link-dark : #6a6868 !default;
$link-dark-hover : lighten($link-dark, 20%) !default;

// Socket colours
$socket-gem-colours : (
    'bloodstone': red,
    'golden-spike': yellow,
    'jade-thorn': green,
    'luck-clover': green,
    'pixie-skull': pink,
);

// Battle colours
$battle-colours : (
    'exp-gain': blue,
    'health-gain': green,
    'gold-gain': gold,
    'mana-gain': pink,
);

// Equipment rarity colours
$equipment-rarity-colours : (
    'rare': red,
    'ultimate': purple,
    'legendary': gold,
);

// Equipment item types
$equipment-types : ('armour', 'cloak', 'field', 'helm', 'scepter', 'shield', 'spell', 'weapon', 'bag');

// Bag types
$bag-types : ('low', 'medium', 'high');
$bag-type-to-rarity : ('low': 'common', 'medium': 'rare', 'high': 'ultimate');

// Transitions
$transition-smooth : cubic-bezier(.23, 1, .32, 1);

//Chat
$chat-width : 20%;
$chat-min-width : 300px;
$chat-bg : #212121;
$chat-display-bg : #424242;
$chat-unread-widget-bg : #37474f;
$chat-link-url-colour : #b0bec5;
$chat-item-rarity-colours : (
    "unknown": #9e9e9e,
    "broken": #cfd8dc,
    "common": #cfd8dc,
    "rare": #f44336,
    "ultimate": #673ab7,
    "legendary": #d4af37,
);
$chat-timer-colours : (
    "gold": #ffe082,
    "xp": #42a5f5,
    "gem": #4caf50,
    "chest": #ffeb3b,
    "equipment-drop": #8d6e63,
    "equipment-effect": #e57373,
    "spawn": #80cbc4,
);
$chat-user-colours : (
    0: #388e3c,
    1: #4db6ac,
    2: #ba68c8,
    3: #ff9800,
    4: #ef5350,
);
$chat-user-markings : (
    1: "C",
    2: "M",
    3: "A",
    4: "G",
);
$chat-user-statuses : (
    1: "chat-mod",
    2: "mod",
    3: "admin",
    4: "manager",
);
